{% load static %}
<form id="details-form" method="post">
    
    <table >
        <tr class="font-weight-normal  ">
            <th scope="col" class=""> </th>
            <th scope="col" class=""> </th>
            <th scope="col" class="ml-4">  </th>
        </tr> 
        
        {% for field in details %}
            <tr class="border-bottom">
                <td class="column mr-5 font-weight-bold ">
                    {{field.instance.name}} 
                </td>
                <td class="column ml-5">
                    {{field.Value}}
                </td>
                <td class="column invisible" >
                    {{field.name}} 
                </td>
            </tr>
        {% endfor %}    
        {% csrf_token %}
        {{details.management_form}}
    </form>
</table>