{% extends "base/base.html" %} 
{% load static %} 
{% block title %} Add {% endblock title %} 
{% block content %}
<div id="message"></div>
<div class="row">
        <form id="primary-form" method="POST" action="{% url 'Add' %}" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm mt-5 border-right">
                    {% for field in form %}
                    <div>
                        <div class="font-weight-bold">{{field.label_tag}} </div>
                        <div class="ml-4">{{field}}</div>
                    </div>
                    <div>
                        {{field.errors}}
                    </div>
                    <br> {% endfor %}
                </div>
                {% csrf_token %}
                <div class="col-sm mt-5">
                    <div class=" mx-auto" id="results-wrapper">
                    </div>
                    <img class="thumb-size img-thumbnail mt-5 mx-auto" id="image-screen" src="" alt="" style="display: none;">
                </div>
            </div>
        </form>
        
</div>
<div class="row">
    <div class="col-sm mt-5">
        <div class="mx-auto">
            <button type="button" class="btn btn-primary btn-lg btn-block" id="add-button">Add</button>
        </div>
    </div>
    <div class="col-sm mt-5">
        <div class="mx-auto">
            <button type="button" class="btn btn-secondary btn-lg btn-block" id="clear-button">Clear</button>
        </div>
    </div>
    <div class="col-sm mt-5">
        <div class="mx-auto">
            <button type="button" class="btn btn-danger btn-lg btn-block" id="exit-button">Exit</button>
        </div>
    </div>

</div>
{% endblock content %} 
{% block scripts %} 
    {{block.super}}
    <script src="{% static "js/addItem.js" %}"></script>
{% endblock scripts %}