{% extends "base/base.html" %}

{% block content %}
    <div class="row mt-5">
        {% for object in object_list %}
            <a href="{% url 'Item' object.id %}">
                <div class="column pr-2 pl-2" id="product-card" url=>
                    <div class="card text-center" style="width: 12rem;">
                        <div style="min-height: 200px; overflow: hidden;">
                            <img src="{{object.image.url}}" class="card-img-top" alt="" style="width: 100%;">
                        </div>
                        <div class="card-body border-top">
                            <h3 class="card-title ">
                                {{object.name}}
                            </h3>
                            <h6 class="card-text">{{object.price}} RON</h6>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}
